.site-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: var(--wet-header-height);
	position: relative;
	background-color: var(--wet-footer-color);
	height: var(--wet-footer-height);
	width: 100%;

	& .copyright {
		font-size: .7em;
	}
}

.home .site-footer {
	top: 0;
}

.to-top {
	position: fixed;
	display: none;
	right: 10px;
	bottom: 10px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	color: black;
	background: rgba(0, 0, 0, .1);
	z-index: 9999;
	font-weight: bold;
	transform: rotate(-90deg);
	cursor: pointer;
	transition: all .4s ease-in-out;

	&:hover {
		color: white;
		background: black;
	}
}

@media (min-width: 850px) {
	.home .site-footer {
		top: var(--wet-header-height-home);
	}
}
