.site-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: var(--wet-header-height);
	position: relative;
	background-color: var(--wet-footer-color);
	height: var(--wet-footer-height);
	width: 100%;

	.copyright {
		font-size: .7em;
	}
}

.home .site-footer {
	top: 0;
}

@media (min-width: 850px) {
	.home .site-footer {
		top: var(--wet-header-height-home);
	}
}
