@use 'mixins' as *;

header {
	display: grid;
	justify-content: center;
	align-items: center;
	position: relative;
	height: calc( var(--wet-header-height) + var(--wet-header-breadcrumb-height) );
	width: 100%;
	z-index: 999;
	background: var(--wet-header-color);
	padding: 0 1em;
	grid-template-columns: 1fr;
	grid-template-rows: var(--wet-header-height) var(--wet-header-breadcrumb-height);
	grid-template-areas: "branding" "breadcrumbs";
}

.home header {
	height: calc( var(--wet-header-height-home) + var(--wet-header-breadcrumb-height) );
}

.site-branding {
	flex-direction: row;
	gap: 1em;
	display: flex;
	width: 100vw;
	padding-left: 2em;
	align-items: center;
	grid-area: branding;

	h1 {
		font-size: 1rem;
	}

	p {
		font-size: .7rem;
	}

	& .site-logo svg {
		display: none;
		height: 3rem;
		width: 3rem;

		& #gear {
			animation: spin 8s linear infinite;
		}
	}
}

.site-name {
	display: flex;
	flex-direction: column;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: rotate(360deg);
		transform-origin: 50% 50%;
	}
}

@include mq(x-small) {
	.site-branding {
		h1 {
			font-size: 2rem;
		}
	
		p {
			font-size: 1rem;
		}
	}
}

@include mq(x-small-2) {
	.site-branding {
		width: 100vw;
		justify-content: center;
	}
}

@include mq(x-small-3) {
	.site-branding .site-logo svg {
		display: unset;
	}
}

@include mq(medium) {
	.admin-bar header {
		top: var(--wet-admin-bar-wide-padding);
	}

	header {
		position: fixed;
		top: 0;
		justify-content: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: var(--wet-header-height) var(--wet-header-breadcrumb-height);
		grid-template-areas: "branding menu" "none breadcrumbs";
	}

	.site-branding {
		width: 100% !important;
		padding-left: 0;
	}

	.site-name {
		width: 100%;
	}
}