header {
	display: grid;
	justify-content: center;
	align-items: center;
	position: relative;
	height: var(--wet-header-height);
	width: 100%;
	z-index: 999;
	background: var(--wet-header-color);
}

.home header {
	height: var(--wet-header-height-home);
}

.site-branding {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 1rem;
	}

	p {
		font-size: .7rem;
	}
}

@media (min-width: 275px) {
	.site-branding {
		p {
			font-size: .75rem;
		}
	}
} 

@media (min-width: 350px) {
	.site-branding {
		h1 {
			font-size: 2rem;
		}
	
		p {
			font-size: 1rem;
		}
	}
} 

@media (min-width: 850px) {
	.admin-bar header {
		top: var(--wet-admin-bar-wide-padding);
	}

	header {
		position: fixed;
		top: 0;
		height: 3.5em;
		justify-content: center;
		grid-template-columns: 1em auto minmax(500px, 4fr) 1em;
	}
}