@use 'sass:map';

@use 'breakpoints' as *;

@mixin mq($key) {
	$size: map.get($breakpoints, $key);

	@media (min-width: $size) {
		@content;
	}
}

@include mq(xx-small) {
	body {
		color: var(--wet-base-color);
	}
}

@include mq(x-small) {
	body {
		color: var(--wet-base-color);
	}
}

@include mq(small) {
	body {
		color: var(--wet-base-color);
	}
}

@include mq(admin-bar) {
	body {
		color: var(--wet-base-color);
	}
}

@include mq(medium) {
	body {
		color: var(--wet-base-color);
	}
}

@include mq(large) {
	body {
		color: var(--wet-base-color);
	}
}

@include mq(large-resume) {
	body {
		color: var(--wet-base-color);
	}
}
