:root {
	box-sizing: border-box;

	// Base variables
	--wet-base-font-size: 16px;
	--wet-base-font-family: Arial, Helvetica, sans-serif;
	--wet-max-width: 70ch;

	// Colors
	--wet-background-color: #f5f5f5;
	--wet-base-color: #444;
	--wet-border-color: #44444440;

	// Header variables
	--wet-header-color: var(--wet-background-color);
	--wet-header-height-home: 4.5rem;
	--wet-header-height: 3.5rem;

	// Footer variables
	--wet-footer-color: var(--wet-background-color);
	--wet-footer-height: 50px;
	
//	--wet-main-margin: 1em;
	// Admin Bar variables
	--wet-admin-bar-padding: 46px;
	--wet-admin-bar-wide-padding: 32px;
}
