:root {
	--wet-base-font-size: 16px;
	--wet-base-font-family: Arial, Helvetica, sans-serif;
	--wet-base-color: #444;
	--wet-footer-color: #eee;
	--wet-footer-height: 50px;
	--wet-max-width: 70ch;
	--wet-main-margin: 1em;
	--wet-admin-bar-padding: 46px;
	--wet-admin-bar-wide-padding: 32px;
}