@use 'variables';
@use 'reset';
@use 'mixins' as *;
@use 'header';
@use 'breadcrumbs';
@use 'footer';
@use 'taxonomies';
@use 'menu';
@use 'buttons';

.screen-reader-text {
	display: none;
}

.site-main {
	margin: 1em;
}

.home {
	& .site-content {
		position: relative;
		top: 0;
	}

	& .site-main {
		background-size: cover;
		height: calc(100vh - var(--wet-footer-height) - var(--wet-header-height-home));
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		margin: 0;
		color: white;
		font-weight: 700;
	}

	&.admin-bar .site-main {
		height: calc(100vh - var(--wet-footer-height) - var(--wet-admin-bar-padding) - var(--wet-header-height-home));
	}
}

.entry-header,
.entry-content,
.entry-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@include mq(small) {
	.site-main {
		max-width: 80%;
		margin: 1em auto;
	}
	
	.site-content {
		margin-bottom: var(--wet-footer-height);
	}
	
	.home {
		& .site-main {
			flex-direction: row;
			max-width: 100%;
			margin: 0;
		}
		
		& .site-content {
			margin-bottom: 0;
		}
	}
	
}

@include mq(admin-bar) {
	.home {
		& .site-main {
			height: calc(100vh - var(--wet-footer-height) - var(--wet-header-height-home));
		}
		
		&.admin-bar .site-main {
			height: calc(100vh - var(--wet-footer-height) - var(--wet-admin-bar-wide-padding) - var(--wet-header-height-home));
		}
	}

}

@include mq(medium) {
	.site-content {
		position: relative;
		top: calc(var(--wet-header-height) + var(--wet-header-breadcrumb-height)) ;
	}

	.home .site-content {
		position: relative;
		top: calc(var(--wet-header-height-home) + var(--wet-header-breadcrumb-height)) ;
	}
}

@include mq(large) {
	.home .site-main {
		max-width: 100%;
	}	
}	

