@use 'variables';
@use 'reset';
@use 'mixins' as *;
@use 'header';
@use 'footer';
@use 'menu';

.screen-reader-text {
	display: none;
}

.site-main {
	margin: 1em;
}

@include mq(medium) {
	.site-content {
		position: relative;
		top: var(--wet-header-height);
	}

	.education-title,
	.skills-title,
	.work-experience-title,
	.activities-title {
		padding-top: var(--wet-header-height);
	}

	.admin-bar {
		.education-title,
		.skills-title,
		.work-experience-title,
		.activities-title {
			padding-top: calc(var(--wet-header-height) + var(--wet-admin-bar-wide-padding));
		}
	}

}

@include mq(large-resume) {
	.site-main {
		max-width: var(--wet-max-width);
		margin: 1em auto;
	}
	
	.site-content {
		margin-bottom: var(--wet-footer-height);
	}
}

