@use 'variables';
@use 'reset';
@use 'mixins' as *;
@use 'header';
@use 'breadcrumbs';
@use 'footer';
@use 'menu';

.site-content {
	position: relative;
	margin-top: 0;
	margin-bottom: var(--wet-footer-height);
}

.screen-reader-text {
	display: none;
}

.site-main {
	margin: 1em;
}

@include mq(admin-bar) {
	.site-content {
		min-height: calc(100vh - calc(var(--wet-footer-height) * 2) - var(--wet-header-height) - var(--wet-header-breadcrumb-height));
	}

	.admin-bar .site-content {
		min-height: calc(100vh - calc(var(--wet-footer-height) * 2) - var(--wet-header-height) - var(--wet-header-breadcrumb-height) - var(--wet-admin-bar-wide-padding));
	}
}

@include mq(medium) {
	.site-content {
		margin-top: calc(var(--wet-header-height) + var(--wet-header-breadcrumb-height));
	}
	
	.education-title,
	.skills-title,
	.work-experience-title,
	.activities-title {
		position: relative;
		padding-top: calc(var(--wet-header-height) + var(--wet-header-breadcrumb-height));
	}

	.admin-bar {
		.education-title,
		.skills-title,
		.work-experience-title,
		.activities-title {
			position: relative;
			padding-top: calc(var(--wet-admin-bar-wide-padding) + var(--wet-header-height) + var(--wet-header-breadcrumb-height));
		}
	}

}

@include mq(large-resume) {
	.site-main {
		max-width: var(--wet-max-width);
		margin: 1em auto;
	}
}

