@use 'variables';
@use 'reset';
@use 'mixins' as *;
@use 'header';
@use 'footer';
@use 'taxonomies';
@use 'menu';

.screen-reader-text {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em auto;
}

p {
	line-height: 1.5;
}

.site-content {
	margin: 1em auto;
	max-width: var(--wet-max-width);
	position: relative;
	top: 0;
}

.site-main {
	padding: 1em;
}

.entry-header,
.entry-content,
.entry-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.privacy-date {
	margin-top: 1.5em;
    font-size: .8em;
    font-weight: bold;
}

@include mq(medium) {
	.site-main {
		min-height: calc(100vh - var(--wet-footer-height) - var(--wet-header-height));
	}
	
	.admin-bar .site-main {
		min-height: calc(100vh - var(--wet-footer-height) - var(--wet-admin-bar-padding) - var(--wet-header-height));
	}
	
	.site-content {
		position: relative;
		top: var(--wet-header-height);
	}
}
